.ve.window {
    background-color: var(--bg-primary-colour);
    color: var(--header-colour);
    font-family: var(--header-font-family);
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    width: var(--default-width);

    /* -- Feature styling -- */
    #close-button {
        position: absolute;

        border-radius: 50%;
        filter: var(--image-filter);
        float: right;
        height: 1rem;
        padding: 0.5rem;
        right: 0px;
        top: 0px;
        width: 1rem;

        transition: all 0.5s ease;
    }
    #close-button:hover {
        background-color: var(--hover-colour);
    }
    .feature-header {
        padding: var(--padding);
    }
    .resize-handle:hover {
        background-color: var(--hover-colour);
    }
    #window-name {
        background: transparent;
        border: 0px solid transparent;
        font-size: var(--body-font-family);
        min-width: 5rem;
        opacity: 0.5;

        transition: all 0.5s ease;
    }
    #window-name:before {
        content: "\200b"; /* Zero width space */
    }
    #window-name:empty:before {
        color: var(--header-colour);
        content: "Window Name";
        display: inline-flex;
        opacity: 0.3;
        min-width: 5rem;
    }
    #window-name:focus {
        border-bottom: 1px solid var(--header-colour);
        opacity: 1;
        outline: none;
    }
    #window-name:hover {
        cursor: text;
    }

    /* -- Feature body for ve.window and subfeatures -- */
    .feature-body {
        color: var(--body-colour);
        font-family: var(--body-font-family);
        font-size: var(--body-font-size);
        font-weight: var(--body-font-weight);
        padding: var(--padding);

        overflow-x: auto;
        scrollbar-color: white transparent;
        scrollbar-width: thin;
    }
}