html, head, body {
    height: 100%;
    margin: 0px;
    width: 100%;
}

.ve.overlay {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;

    height: 100dvh;
    width: 100dvw;
}